* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292c2e;
}

.accordion {
    width: 90%;
    background-color: #222426;
    padding: 30px;
    border-radius: 30px;
    max-width: 850px;
    color: #e8e6e3;
    border: 1px solid #4d5356;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1), 0 2px 6px rgba(255, 255, 255, 0.1);
}

.accordion .accordion-title {
    margin-bottom: 30px;
    text-align: center;
}

.accordion .content-container .question {
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #e8e6e3;
    position: relative;
    transition: .5s;
}

.accordion .content-container .question::after {
    content: "+";
    position: absolute;
    right: -5px;
}

.accordion .content-container .answer {
    font-size: 22px;
    line-height: 1.5;
    padding-top: 15px;
    height: 0px;
    overflow: hidden;
    transition: .5s;
}

.accordion .content-container.active .answer {
    height: 150px;
}

.accordion .content-container.active .question {
    font-size: 18px;
    transition: .5s;
}

.accordion .content-container.active .question::after {
    content: "-";
    font-size: 30px;
    transition: all .5s;
}

footer {
    color: #f6f2f2;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    text-shadow: 0 0 5px black;
}

footer span {
    padding: 0 5px;
    color: rgb(255, 44, 44);
}
  