@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: rgb(41, 44, 46);;
    font-family: 'Muli', sans-serif;
}

.key {
    color: #e8e6e3;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
    border: 1px solid rgb(77, 83, 86);
    background-color: rgb(34, 36, 38);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px;
}

.key small {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: rgb(178, 172, 162);
    font-size: 14px;
}

footer {
    color: #f6f2f2;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    text-shadow: 0 0 5px black;
}

footer span {
    padding: 0 5px;
    color: rgb(255, 44, 44);
}
  