@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #1c1e1f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Muli', sans-serif;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
    background-color: #393d40;
}

.progress-container .progress {
    background-color: #1d6fa5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.progress-container .circle {
    background-color: rgb(24, 26, 27);
    color: rgb(168, 160, 149);
    border: 3px solid #393d40;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}
.progress-container .circle.active {
    border-color: #1a6394;
}

.container .btn {
    background-color: #1d6fa5;
    color: rgb(232, 230, 227);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.container .btn:disabled {
    background-color: #2a2d2f;
}

footer {
    color: #d8d5d5;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
}

footer span {
    padding: 0 5px;
    color: rgb(255, 44, 44);
}