@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(161, 100, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.btn {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}

footer {
    color: #f6f2f2;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    text-shadow: 0 0 5px black;
}

footer span {
    padding: 0 5px;
    color: rgb(255, 44, 44);
}